@page
@model Stix.Pages.ImportModel
@{
}

 <div class="form-group d-flex justify-content-center">
    <form method="post" enctype="multipart/form-data" >
        <div class="form-group">
            <label asp-for="ExcelFile" class="col-sm-2 col-form-label">Upload Excel</label>
            <div>
                <input type="file" asp-for="ExcelFile" />
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>

        @if (ViewData["Message"] != null)
        {
            <script type="text/javascript">
                window.onload = function () {
                    alert("@ViewData["Message"]");
                    console.log("@ViewData["Error"]");
                    console.log("@ViewData["ConvertedToJson"]");
                };
            </script>
        }

    </form>
</div>