@page
@model IndexModel
@{
    ViewData["Title"] = "STIX";
}

    <div class="filterSortContainer d-flex justify-content-between">
        <form method="get">
            <input type="text" placeholder="Search...." name="searchString" class="form-group">
            <button type="submit" class="btn btn-primary"> <i class="fa fa-search"></i> </button>
        </form>
        <div>
            <a href="" class="link-light"><button type="button" class="btn btn-secondary btn-outline-dark">Export</button></a>
            <div class="dropdown">
                <button id="dropdownButton" type="button" class="btn btn-secondary btn-outline-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" aria-haspopup="true" data-bs-auto-close="outside">Sort</button>
                <div class="dropdown-menu" aria-labelledby="dropdownButton">
                    <div class="dropstart">
                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown">Name: </a>
                        <ul class="dropdown-menu shadow ">
                            <li>
                                <a class="dropdown-item">Ascending</a>
                            </li>
                            <li>
                                <a class="dropdown-item">Descending</a>
                            </li>
                        </ul>
                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown">Date: </a>
                        <ul class="dropdown-menu shadow ">
                            <li>
                                <a class="dropdown-item">Ascending</a>
                            </li>
                            <li>
                                <a class="dropdown-item">Descending</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <a asp-page="Filter"class="link-light"><button type="button" class="btn btn-secondary btn-outline-dark btn-sm" >Filter</button> </a>
        </div>
    </div>
    
@*
    <div class="tableContainer align-items-center ms-auto">
        <table class="table table-responsive table-condensed table-hover">
        <thead>
            <tr class="tableHeader">
                <th class="incidentHeader">Incident Name</th>
                <th class="descriptionHeader">Description</th>
                <th class="addedOnHeader">Added On</th>
                <th class="viewMoreHeader">View More</th>
            </tr>
        </thead>
            
    <!-- loop, can change it to just grab everything from a db-->
    @foreach(var item in Model.infos)
    {
            <tbody>
            <tr>
                <td class="leftTableCell">@item.Name</td>
                <td class="centerTableCell">@item.Description</td>
                <td class="centerTableCell">@item.Month @item.Year</td>
                <td class="rightTableCell"><a class="btn btn-primary btn-sm" href="moderator/Moderator?id=@item.Id">X</a></td>
            </tr>
        </tbody>  
    }
        </table>
    </div>
*@
