@page
@model IndexModel
@{
    ViewData["Title"] = "STIX";
}

<div class="text-center">
    <h1 class="display-4">STIX Database</h1>
    <h3 class="display-4">Welcome</h3>
    <p>This page is under construction as of @ViewData["Timestamp"]</p>
</div>
