@page
@model Stix.Pages.LandingModel
@{
  Layout = null;  
}

<html lang="en">
<head>
 <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Page Title</title>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Stix.styles.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/Landing.css">
</head>
<body>
<div id="content">
<h1 id="stixHeader">Stix Database</h1>
<p id="stixParagraph">The place for maritime cyber<br>
incidents reporting</p>
<button id="logRegButt"> Login/Register  </button>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html> 
