@page
@model Stix.Pages.ManualModel
@{
}
<head>
        <link rel="stylesheet" href="~/css/manual.css">
</head>

<body>
    
<form>
   <div class="form-group">
       <input type="text" id="title" name="title" placeholder="Title">

       <input type="text" id="description" name="description" placeholder="Description">

       <input type="text" id="impactArea" name="impactArea" placeholder="Impact Area">

       <input type="text" id="victimLocation" name="victimLocation" placeholder="Victim Location">

       <input type="text" id="victimCountry" name="victimCountry" placeholder="Victim Country">

       <input type="text" id="Identity" name="Identity" placeholder="Identity">

       <input type="text" id="victimType" name="victimType" placeholder="Victim Type">

       <input type="text" id="affectedSystem" name="affectedSystem" placeholder="Affected System">

       <input type="text" id="method" name="method" placeholder="Method">

       <input type="text" id="malwareType" name="malwareType" placeholder="Malware Type">

       <input type="text" id="ransomwareType" name="ransomwareType" placeholder="Ransomware Type">

       <input type="text" id="attackPattern" name="attackPattern" placeholder="Attack Pattern">

       
       <input type="text" id="campaign" name="campaign" placeholder="Campaign">
       
       <input type="text" id="impact" name="impact" placeholder="Impact">
       
       <input type="text" id="threatActor" name="threatActor" placeholder="threatActor">
       
       <input type="text" id="additionalInfo" name="additionalInfo" placeholder="Additional Info">
       
       <input type="text" id="Summary" name="Summary" placeholder="Summary">

       <button type="submit" class="btn-primary">Submit </button> 
   </div>
</form> 
    

</body>