@page
@model Stix.Pages.ManualModel
@{
}
<head>
        <link rel="stylesheet" href="~/css/manual.css">
</head>

<body>
    
     <form>
           <div class="form-group">
   <br><input type="text" id="title" name="title" value="Title"><br><br>
   <input type="text" id="description" name="description" value="Description"><br><br>
      <input type="text" id="impactArea" name="impactArea" value="impactArea"><br><br>
      <input type="text" id="victimLocation" name="victimLocation" value="victimLocation"><br><br>
      <input type="text" id="victimCountry" name="victimCountry" value="victimCountry"><br><br>
      <input type="text" id="Identity" name="Identity" value="Identity"><br><br>
      <input type="text" id="victimType" name="victimType" value="victimType"><br><br>
      <input type="text" id="affectedSystem" name="affectedSystem" value="affectedSystem"><br><br>
      <input type="text" id="method" name="method" value="method"><br><br>
      <input type="text" id="malwareType" name="malwareType" value="malwareType"><br><br>
      <input type="text" id="ransomwareType" name="ransomwareType" value="ransomwareType"><br><br>
      <input type="text" id="attackPattern" name="attackPattern" value="attackPattern"><br><br>
      <input type="text" id="campaign" name="campaign" value="campaign"><br><br>
      <input type="text" id="impact" name="impact" value="impact"><br><br>
      <input type="text" id="threatActor" name="threatActor" value="threatActor"><br><br>
      <input type="text" id="additionalInfo" name="additionalInfo" value="additionalInfo"><br><br>
      <input type="text" id="Summary" name="Summary" value="Summary"><br><br>
   <button type="submit" class="btn-primary">Submit </button> 
   </div>
     </form> 
    

</body>