@page
@model Stix.Pages.RegisterModeratorModel
@{
    ViewData["Title"] = "Register Moderator";
}

<form method="post">
    <div class="form-group">
        <label for="registerFirstNameModerator">First name</label>

        <input type="text" asp-for="Moderator.firstName" class="form-control" id="registerFirstNameModerator"
            placeholder="Enter your first name">
    </div>

    <div class="form-group">
        <label for="registerLastNameModerator">Last name</label>

        <input type="text" asp-for="Moderator.lastName" class="form-control" id="registerLastNameModerator"
            placeholder="Enter your last name">
    </div>

    <div class="form-group">
        <label for="registerUsernameModerator">User name</label>

        <input type="text" asp-for="Moderator.username" class="form-control" id="registerUsernameModerator"
            placeholder="Enter a username">
    </div>

    <div class="form-group">
        <label for="registerEmailModerator">Email</label>

        <input type="text" asp-for="Moderator.email" class="form-control" id="registerEmailModerator"
            placeholder="Enter your email">
    </div>

    <div class="form-group">
        <label for="registerPasswordModerator">Password</label>

        <input type="password" asp-for="Moderator.password" class="form-control" id="registerPasswordModerator"
            aria-describedby="registerPasswordMinRequirements" placeholder="Password">

        <small id="registerPasswordMinRequirements" class="form-text text-muted">Password should be at least 8
            characters long, contain at least one uppercase character and a special character</small>
    </div>

    <div class="form-group">
        <label for="registerReasonModerator">Reason</label>

        <input type="text-area" asp-for="Moderator.reason" class="form-control" id="registerReasonModerator"
            placeholder="Enter a reason/proof(field of expertise, degrees, etc.)">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
