@page
@model Stix.Pages.RegisterModel
@{
    ViewData["Title"] = "Register";
}
  <div class="form-group d-flex justify-content-center">

<form method="post">
    <div class="form-group">
        <label for="registerUsernameUsers">User name</label>

        <input type="text" asp-for="User.username" class="form-control" id="registerUsernameUsers"
               placeholder="Enter a username">
    </div>

    <div class="form-group">
        <label for="registerEmailUsers">Email</label>

        <input type="text" asp-for="User.email" class="form-control" id="registerEmailUsers"
               placeholder="Enter your email">
    </div>

    <div class="form-group">
        <label for="registerPasswordUsers">Password</label>

        <input type="password" asp-for="User.password" class="form-control" id="registerPasswordUsers"
               aria-describedby="registerPasswordMinRequirements" placeholder="Password">

        <small id="registerPasswordMinRequirements" class="form-text text-muted">Password should be at least 8
            characters long, contain at least one uppercase character and a special character</small>
    </div>
    <a href="registerModerator"> 
    <h6> Register moderator.. </h6> 
    </a>
    <a href="login"> 
    <h6> Login.. </h6> 
    </a>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>

