* {
    font-family: Arial, Helvetica, sans-serif;
}
html {
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: url("/Resources/Maritime-Cybersecurity-Solutions.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

#content {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 80%;
    border-radius: 5px;
    border-color: red;
    margin-top: 17%;  
}

#stixHeader {
    color: white;
    font-size: 5rem;
    align-self: flex-end;
    margin-right: -10%;
}

#stixParagraph {
    color: white;
    align-self: flex-end;
    margin-top: 5%;
    margin-bottom: 3.5%;
    margin-right: 6.5%;
    font-size: 22px;
}

#logRegButt {
    background-color:  #0C6991;
    border-radius: 40px;
    width: 18%;
    align-self: flex-end;
    font-size: 30px;
    color: white;
    margin-right: 10%;

}

@media only screen and (min-width: 600px) {
}
