html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.textcolour {
    color: #c0c0c0;
}

.buttoncolour {
    background-color: #3f729d;
  background-image: radial-gradient(circle at 58% 0%, #3F729D 0%, #06222F 100%);
}