html {
  font-size: 14px;
}
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.textcolour {
    color: #c0c0c0;
}

.buttoncolour {
    background-color: #3f729d;
}

h5 {
    color: #c0c0c0;
}

h2 {
    color: #c0c0c0;
}

.textContainerAbout {
    margin: auto;
    width: 50%;
    //border: 3px solid green;
    padding: 10px;
    margin-top: 5%;
    text-align: center;
}


@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
